body {
    margin: 40px;
}

header {
    background:#333;
    color:#fff;
    padding:20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

#container{
    width: 90%;
    text-align: center;
    margin:auto;
    padding:10px;
}

.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

  .header{
    text-align: center;
    grid-area: header;
    background-color:#000;
  }
  
  .nav{
    text-align: center;
    grid-area: nav;
  }
  .menu{
    text-align: center;
    grid-area: menu;
  }
  .progbar{
    text-align: center;
    grid-area: progbar;
    background-color:orangered;
  }
  .main{
    text-align: center;
    grid-area: main;
  }
  .right{
    text-align: center;
    grid-area: right1;
  }
  .right2{
    text-align: center;
    grid-area: right2;
  }
  .footer{
    text-align: center;
    grid-area: footer;
  }

  .wrapper {
      display: grid;
      grid-template-columns: 17.5% 52.5% 30%;
      grid-template-rows: 140px 80px 100px 300px 300px 110px;
      grid-template-areas:
        "header header header"
        "nav nav nav"
        "menu progbar progbar"
        "menu main right1"
        "menu main right2"
        "footer footer footer";
      grid-gap: 10px;
  }

  .grid-container > div {
      text-align: center;
  }
