body {
    margin: 40px;
}

header {
    background:#333;
    color:#fff;
    padding:20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

#container{
    width: 90%;
    text-align: center;
    margin:auto;
    padding:10px;
}

/*
GRID PROPERTIES
*/

.item{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    
    padding: 20px;
    font-size: 150%;
}

  .header{
    text-align: center;
    grid-area: header;
    background-color:#333;
  }
  
  /*.nav{
    text-align: center;
    grid-area: nav;
    background-color:#444;
  }*/
  .menu{
    text-align: left;
    grid-area: menu;
    background-color:#333;
  }
  .progbar{
    text-align: center;
    grid-area: progbar;
    background-color:orangered;
  }
  .main{
    text-align: center;
    background-color:#444;
  }
  .right{
    text-align: center;
    background-color:#333;
  }
  .right2{
    text-align: center;
    grid-area: right2;
    background-color:#444;
  }
  .footer{
    text-align: center;
    grid-area: footer;
    background-color:#333;
  }

  .wrapper {
      display: grid;
      grid-template-columns: 17.5% 52.5% 30%;
      grid-template-rows: 140px 80px 300px 300px 65px;
      grid-template-areas:
        "header header header"
        "menu progbar progbar"
        "menu main right1"
        "menu main right2"
        "footer footer footer";
      grid-gap: 10px;
  }

  .grid-container > div {
      text-align: center;
  }

  /* 
  ----- Menu CSS -----
  */
  .gridmenu {
    height: 480px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
  }
  
  .gridmenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
  }

  .mainpage a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: blanchedalmond;
    display: block;
  }
  
  .gridmenu a:hover {
    color: lightblue;
  }
  
  .main { /* will primarily hold a list full of links to pages with content. */
    margin-left: 0%; 
    font-size: 20px; 
  }

  /* 
  MEDIA QUERIES
  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
  */
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
